streamlit
requests
beautifulsoup4
PyPDF2
python-docx
pandas
googletrans==4.0.0-rc1
huggingface_hub==0.26.0
txtai
transformers
tokenizer
sumy
streamlit
faiss-cpu
easyocr
python-bidi
lxml
pytesseract
Pillow
python-pptx
transformers
googletrans==4.0.0-rc1
textblob
beautifulsoup4
PyPDF2
python-docx
pandas
requests
scikit-learn
rake-nltk
language-tool-python
nltk
sumy


