streamlit
requests
beautifulsoup4
PyPDF2
python-docx
pandas
googletrans==4.0.0-rc1
txtai
transformers
tokenizer
sumy
requests
scikit-learn
rake-nltk
language-tool-python
nltk
punkt


