streamlit
faiss-cpu
easyocr
python-bidi
lxml
pytesseract
Pillows
python-pptx
txtai
transformers
googletrans==4.0.0-rc1
textblob
beautifulsoup4
PyPDF2
python-docx
pandas
pytesseract
requests


